.scores-container {
  position: fixed;
  height: 100px;
  top: 45px;
  border-bottom: 2px solid black;
  width: 100%;
  left: 0px;
  background: #efefef;
  list-style-type: none;
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: scroll;

  ul {
    display: inline-flex;

    li {
      font-size: .87em;
      font-family: 'Source Sans', sans-serif;
      font-weight: 400;
      top: -13px;
      position: relative;
      width: 6.2em;
      height: 64px;
      display: flex;
      padding-top: 1em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      border: 2px solid black;
      border-bottom: 0px solid black;
      float: left;
      left: -40px;

    }

    .team-names, .current-record, .current-score {
      position: relative;
      top: 1.5em;
    }

    .current-record {
      float: right;
      position: relative;
      margin-left: auto;
    }

    .current-score {
      float: left;
      position: relative;
      margin-left: auto;
    }

    li:hover {
      opacity: 0.7;
      cursor: pointer;
      color: #79BDC8;
    }
  }
}

.game-status {
  color: red;
}

.game-status, .diff-status {
  position: absolute;
  font-size: .5em;
  font-weight: 700;
  letter-spacing: .05em;
}

.scores-container::-webkit-scrollbar {
  width: 0em;
  // background-color: rgba(0,0,0,1);
}
