.scores-container {
  position: absolute;
  height: 80px;
  top: 45px;
  border-bottom: 2px solid black;
  width: 100%;
  left: 0px;
  background: #efefef;

  ul {
    list-style-type: none;

    li {
      font-size: .87em;
      font-family: 'Source Sans', sans-serif;
      font-weight: 400;
      top: -13px;
      position: relative;
      width: 5.8em;
      height: 61px;
      display: flex;
      padding-top: 1em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      border: 2px solid black;
      float: left;

    }

    .team-names, .current-record, .current-score {
      position: relative;
      top: 1em;
    }

    .current-record {
      float: right;
      position: relative;
      margin-left: auto;
    }

    .current-score {
      float: left;
      position: relative;
      margin-left: auto;
    }
  }
}
